<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2> All Blogs</h2>
        <p>Welcome to [Blog Name]!

            About Me:
            
            Hi there! I'm [Your Name], the creator and writer behind [Blog Name]. I started this blog as a way to share my passion for [topic or niche]. Here, I aim to provide valuable information, insights, and inspiration to [target audience or readers].
        </p>
        <p>What You'll Find on [Blog Name]:

            On this blog, you'll discover a wide range of articles and resources related to [topic or niche]. I cover everything from [specific subtopics or areas of interest] to [other related areas]. Whether you're a beginner looking to learn more or a seasoned [topic] enthusiast, there's something here for everyone.
        </p>
        <p>
            Why I Started This Blog:

            The main reason I started [Blog Name] is to create a community of like-minded individuals who share a passion for [topic]. I believe that sharing knowledge and experiences can be incredibly empowering and can foster connections among people with similar interests. I want this blog to serve as a platform for learning, discussion, and growth within the [topic] community.
            
            
        </p>

    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>